:root {
    --primary-color: #303841;
    --secondary-color: #be3144;
    --tetiary-color: #45567d;
    --light-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.container {
    max-width: 128rem;
    margin: 0 auto;
}

#navbar {
    height: 7rem;
    background-color: var(--secondary-color);
}

#navbar .container {
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    color: var(--light-color);
    font-size: 2rem;
    padding: 2rem;
}

#navbar a:hover {
    background-color: var(--tetiary-color);
}