:root {
    --primary-color: #303841;
    --secondary-color: #be3144;
    --tetiary-color: #45567d;
    --light-color: #f0f0f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

ul {
    list-style: none;
}

.container {
    max-width: 128rem;
    margin: 0 auto;
}

.heading {
    font-size: 6rem;
}

#navbar {
    height: 7rem;
    background-color: var(--secondary-color);
    position: fixed;
    width: 100%;
}

#navbar .container {
    display: flex;
    justify-content: flex-end;
}

#navbar a {
    font-size: 2rem;
    padding: 2rem;
}

#navbar a:hover {
    background-color: var(--tetiary-color);
}

#welcome-section,
#projects,
#reach-out,
#footer {
    color: var(--light-color);
}

#welcome-section,
#reach-out,
#footer {
    background-color: var(--primary-color);
}

#welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#welcome-section p {
    font-size: 3rem;
    font-style: italic;
    color: var(--secondary-color);
    margin-top: -1rem;
}

#projects {
    background-color: var(--tetiary-color);
    min-height: 100vh;
    padding: 5rem 0;
    text-align: center;
}

#projects h2 {
    font-size: 4.2rem;
    padding: 5rem;
    text-decoration: underline;
}

#projects .project-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin: 0 5rem;
}

#projects .project-tiles .project-tile {
    cursor: pointer;
}

#projects .project-tiles .project-tile img {
    width: 100%;
    height: calc(100% - 7rem);
    object-fit: cover;
}

#projects .project-tiles .project-tile p {
    font-size: 2rem;
    padding: 2rem 1rem;
    background-color: var(--primary-color);
    margin-top: -.4rem;
}

#projects .project-tiles .project-tile p span {
    color: var(--primary-color);
    transition: color .5s ease-out;
    font-size: 2rem;
}

#projects .project-tiles .project-tile:hover > p span {
    color: orange;
}

#projects #more {
    display: inline-block;
    border: none;
    padding: 1rem 3rem;
    margin: 3rem 0;
    font-size: 2rem;
    background-color: var(--primary-color);
    color: var(--light-color);
}

#reach-out {
    text-align: center;
    height: 70vh;
}

#reach-out .heading {
    padding-top: 15rem;
}

#reach-out p {
    font-size: 1.5rem;
    font-style: italic;
    margin-bottom: 6rem;
}

#reach-out .contact a {
    font-size: 2.4rem;
    padding: 0 1rem;
    transition: all .5s ease-out;
    display: inline-block;
}

#reach-out .contact a:hover {
    transform: translateY(1rem);
    color: var(--secondary-color);
}

#footer {
    height: 20vh;
    border-top: 2px solid var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#footer p {
    font-size: 1.5rem;
}